{% extends 'base.html.twig' %}

{% block title %}Panel de control{% endblock %}
    

{% block body %}
<style>
    .clearfix::after {content: ""; clear: both; display: table;}
    .footer { 
        position: relative;
        left: 0px;
        bottom: 0;
        width: 100%;
        height: 20%;
        background: rgb(247,251,252); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(247,251,252,1) 0%, rgba(173,217,228,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(247,251,252,1) 0%,rgba(173,217,228,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(247,251,252,1) 0%,rgba(173,217,228,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=0 ); /* IE6-9 */
    }
    
</style>
    <div id="inner">
        <div style="margin-left: 15%; font-family: 'Roboto', sans-serif; font-size: 18px;">
            <h2>Sistema de inventarios proyecto Emanuel</h2>
            
        </div>
        <nav id="menu">
            <ul>
                <li><a href="#" onclick="homaPage()">Inicio</a></li>
                <li class="barra"> | </li>
                <li><a href="#" onclick="listarInventario(1)">Casa hogar</a>
                </li>
                <li class="barra"> | </li>
                <li><a href="#" onclick="listarInventario(2)">Centro medico</a>
                </li>
                <li class="barra" onclick="listarInventario(2)"> | </li>
                <li><a href="#" onclick="listarPatrimonio()">Patrimonio</a></li>
                <li class="barra"> | </li>
                <li style="margin-left: 25%;"><a href="#" onclick="cerrarSesion()">Cerrar Sesion</a></li>
            </ul>
        </nav>
        <div class="clearfix">
            <div id="navigateUser"></div>
            <br>
            <form name="hiddenUsers">
                <input type="hidden" name="nombreUser" value="">
                <input type="hidden" name="rolUser" value="">
            </form>
            <h4><b>Listado de usuarios activos</b></h4>
            <button style="margin:5px;" id="nuevoInmueble" onclick="retornarPC()" class="btn btn-primary">Regresar</button>
            <button style="margin:5px;" onclick="generarCuadro()" class="btn btn-primary">Visualizar activos</button>
            <div class="row">
                <div class="col-6 col-sm-6">
                    <div id="tablaUsuarios"></div>
                </div>
                <div class="col-6 col-sm-6">
                    <label>Entrega   ->     Recepcion</label>
                    <p><b><input type="text" id="usuarioEntrega" placeholder="---" disabled="on"> -> <input disabled="on" id="usuarioRecibe" tupe="text" placeholder="---">
                    </b></p>
                    <button style="margin:5px;" onclick="generarReportePdf()" class="btn btn-primary">Cambiar custodio activo</button><br>
                    <div id="productosSegunUsuario"></div>
                </div>
            </div>
            
        </div>
        <div class="footer">
            <div class="row" style="margin: 15px;">
                <div class="column">
                    <h4><b>Redes sociales</b></h4>
                    <p>
                        <h5 style="text-align: weight;"><a style="text-align: center;" href="{{path ('manualUsuario')}}" >Manual de usuario</a></h5>
                        <h5 style="text-align: weight;"><a style="text-align: center;" href="https://www.facebook.com/CEMCHEMANUEL/" target="_blank">¡Visitanos en Facebook!</a></h5>
                        <h5 style="text-align: weight;"><a style="text-align: center;" href="https://www.twitter.com/" target="_blank">¡Visitanos en Twitter!</a></h5>
                    </p>
                </div>
                <div class="column">
                    <h4><b>Soporte técnico</b></h4>
                    <p>e-mail: alexandino2011@gmail.com<br>
                        N° celular: 0997765061
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %} 
    <script type="text/javascript" src="{{ asset('assets/js/inventario/custodio/funciones.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/inventario/custodio/selectores.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/usuario/login.js') }}"></script>
{% endblock %} 