{% extends 'base.html.twig' %}

{% block title %}Transacciones{% endblock %}
    

{% block body %}
<style>
   
</style>
    <div id="inner">
        <div style="margin-left: 15%; font-family: 'Roboto', sans-serif; font-size: 18px;">
            <h2>Sistema de inventarios proyecto Emanuel</h2>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="#" onclick="homaPage()">Inicio</a></li>
                <li class="barra"> | </li>
                <li><a href="#" onclick="listarInventario(1)">Casa hogar</a>
                </li>
                <li class="barra"> | </li>
                <li><a href="#" onclick="listarInventario(2)">Centro medico</a>
                </li>
                <li class="barra"> | </li>
                <li><a href="#">Trabajo infantil</a></li>
                <li class="barra"> | </li>
                <li><a href="#">Apoyo y custodia familiar</a></li>
                <li style="margin-left: 7%;"><a href="#" onclick="cerrarSesion()">Cerrar Sesion</a></li>
            </ul>
        </nav>
        <br>
        <div class="clearfix">
            <form name="hiddenProductosTransaccion">
                <input type="hidden" name="ingreso" value="">
                <input type="hidden" name="salida" value="">
            </form>
            <div>
                <label style="margin-right: 45%;"><big><big><b>Listado de transacciones<b></big></big></label>
                <button class="btn btn-primary" onclick="retornarLista()"> Regresar</button>
            </div>
            <br>
            <div id="listarTransacciones"></div>  
            <div id="modal"></div>          
        </div>
        <div class="footer">
            <div class="row" style="margin: 15px;">
                <div class="column">
                    <h4><b>Redes sociales</b></h4>
                    <p>
                        <h5 style="text-align: weight;"><a style="text-align: center;" href="{{path ('manualUsuario')}}" >Manual de usuario</a></h5>
                        <h5 style="text-align: weight;"><a style="text-align: center;" href="https://www.facebook.com/CEMCHEMANUEL/" target="_blank">¡Visitanos en Facebook!</a></h5>
                        <h5 style="text-align: weight;"><a style="text-align: center;" href="https://www.twitter.com/" target="_blank">¡Visitanos en Twitter!</a></h5>
                    </p>
                </div>
                <div class="column">
                    <h4><b>Soporte técnico</b></h4>
                    <p>e-mail: alexandino2011@gmail.com<br>
                        N° celular: 0997765061
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %} 
		
    <script type="text/javascript" src="{{ asset('assets/js/inventario/listaDetallada/funciones.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/inventario/listaDetallada/selector.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/usuario/login.js') }}"></script>
    
{% endblock %} 
