{% extends 'base.html.twig' %}
{% block title %}Patrimonio{% endblock %}

{% block body %}
<style>
    .clearfix::after {content: ""; clear: both; display: table;}
    .footer { 
        position: relative;
        left: 0px;
        bottom: 0;
        height: 20%;
        background: rgb(247,251,252); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(247,251,252,1) 0%, rgba(173,217,228,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(247,251,252,1) 0%,rgba(173,217,228,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(247,251,252,1) 0%,rgba(173,217,228,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=0 ); /* IE6-9 */
    }
    
</style>
    
    <div id="inner">
        <div style="margin-left: 15%; font-family: 'Roboto', sans-serif; font-size: 18px;">
            <h2>Sistema de inventarios proyecto Emanuel</h2>
            
        </div>
        <nav id="menu">
            <ul>
                <li><a href="#" onclick="homaPage()">Inicio</a></li>
                <li class="barra"> | </li>
                <li><a href="#" onclick="listarInventario(1)">Casa hogar</a>
                </li>
                <li class="barra"> | </li>
                <li><a href="#" onclick="listarInventario(2)">Centro medico</a>
                </li>
                <li class="barra" onclick="listarInventario(2)"> | </li>
                <li><a href="#" onclick="listarPatrimonio()">Patrimonio</a></li>
                <li class="barra"> | </li>
                <li style="margin-left: 25%;"><a href="#" onclick="cerrarSesion()">Cerrar Sesion</a></li>
            </ul>
        </nav>
        <div class="clearfix">
            <div id="navigateUser"></div>
            <br>
            <form name="hiddenPatrimonio">
                <input type="hidden" name="codigoProduct" value="">
                <input type="hidden" name="procedencia" value="">
            </form>
            <div class="derecha" style="margin-left: 5px;">
                <button id="nuevoInmueble" onclick="retornarPC()" class="btn btn-primary">Regresar</button>
            </div>
            <div class="derecha">
                <button id="nuevoInmueble" onclick="nuevoProducto()" class="btn btn-primary">Nuevo activo fijo</button>
            </div>
            <div class="derecha" style="margin-right:10px;">
                <a href="#" onclick="exportarExcel('total')"><img width="25px" src="assets/img/excel.png"></a>
            </div>
            <h4><b>Listado de activos fijos</b></h4>
            
            <input class="btn btn-primary" type="checkbox" id="spoiler1"></input>   
            <label for="spoiler1">Bienes muebles</label>
            <div class="spoiler">
                 <form action="" name="actions">
                    <label>Vehiculos
                        <input type="radio" name="option" value="vehiculos" checked>
                    </label>
                    <label> Bienes muebles generales
                        <input type="radio" name="option" value="muebles" >
                    </label>
                    <div class="derecha">
                        <a href="#" onclick="exportarExcel('mueble')"><img width="25px" src="assets/img/excel.png"></a>
                    </div>
                </form>
                
                <div id="tablaProductoPatrim"></div>
            </div>

            <input class="btn btn-primary" type="checkbox" id="spoiler2"></input>
            <label for="spoiler2" >Bienes Inmuebles</label>
            <div class="spoiler">
                <form action="" name="actions1">
                    <label> Bienes inmuebles generales
                        <input type="radio" name="option" value="inmuebles" checked>
                    </label>
                    <div class="derecha">
                        <a href="#" onclick="exportarExcel('inmueble')"><img width="25px" src="assets/img/excel.png"></a>
                    </div>
                </form>
                <div id="tablaProductoPatrimInmueble"></div>
            </div>

           
            <form name="hiddenvehiInm">
                <input type="hidden" name="placaVehi" value="">
                <input type="hidden" name="codMueble" value="">
                <input type="hidden" name="codInmueble" value="">
            </form>
            {# mostrar consultar segun eleccion #}
            <br>
            <form action="" name="reporteFechas">
                <label>Generar reporte excel por fechas</label><br>
                <label>Fecha inicial</label>
                <input type="date" name="starDate" required>
                <label>Fecha final</label>
                <input type="date" name="finishDate" required>
                <button>Generar</button>
            </form>
            <br><br>
            <h4><b>Custodio de activos</b></h4>
            <h5><b>Asignacion inicial de activos</b></h5>
            <div id="userCustodioAsignation"></div>
            <div id="firstAsignation"> </div>
            <div id="buttonAsignationC"></div>
        </div>
        <div class="footer">
            <div class="row" style="margin: 15px;">
                <div class="column">
                    <h4><b>Redes sociales</b></h4>
                    <p>
                        <h5 style="text-align: weight;"><a style="text-align: center;" href="{{path ('manualUsuario')}}" >Manual de usuario</a></h5>
                        <h5 style="text-align: weight;"><a style="text-align: center;" href="https://www.facebook.com/CEMCHEMANUEL/" target="_blank">¡Visitanos en Facebook!</a></h5>
                        <h5 style="text-align: weight;"><a style="text-align: center;" href="https://www.twitter.com/" target="_blank">¡Visitanos en Twitter!</a></h5>
                    </p>
                </div>
                <div class="column">
                    <h4><b>Soporte técnico</b></h4>
                    <p>e-mail: alexandino2011@gmail.com<br>
                        N° celular: 0997765061
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %} 
    <script type="text/javascript" src="{{ asset('assets/js/inventario/inventarioPrincipal/funciones.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/inventario/inventarioPrincipal/selectores.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/usuario/login.js') }}"></script>
{% endblock %} 