{% extends 'base.html.twig' %}

{% block title %}Panel de control{% endblock %}
    

{% block body %}
<style>
    .clearfix::after {content: ""; clear: both; display: table;}
    .footer { 
        position: relative;
        left: 0px;
        bottom: 0;
        width: 100%;
        height: 20%;
        background: rgb(247,251,252); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(247,251,252,1) 0%, rgba(173,217,228,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(247,251,252,1) 0%,rgba(173,217,228,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(247,251,252,1) 0%,rgba(173,217,228,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=0 ); /* IE6-9 */
    }
    
</style>
    <div id="inner">
        <div style="margin-left: 15%; font-family: 'Roboto', sans-serif; font-size: 18px;">
            <h2>Sistema de inventarios proyecto Emanuel</h2>
            
        </div>
        <nav id="menu">
            <ul>
                <li><a href="#" onclick="homaPage()">Inicio</a></li>
                <li class="barra"> | </li>
                <li><a href="#" onclick="listarInventario(1)">Casa hogar</a>
                </li>
                <li class="barra"> | </li>
                <li><a href="#" onclick="listarInventario(2)">Centro medico</a>
                </li>
                <li class="barra" onclick="listarInventario(2)"> | </li>
                <li><a href="#" onclick="listarPatrimonio()">Patrimonio</a></li>
                <li class="barra"> | </li>
                <li style="margin-left: 25%;"><a href="#" onclick="cerrarSesion()">Cerrar Sesion</a></li>
            </ul>
        </nav>
        <div class="clearfix">
            <div id="navigateUser"></div>
            <br>
            <div class="row">
                <div class="col-xl-9 col-lg-11 col-md-10 col-sm-12">
                    <div class="form-row">
                        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-4">
                            <label>  Nuevo usuario</laber><br>
                            <img href="#" onclick="listarInventario(7)" style=" padding-left: 0px; width: 40%; height: 40%;" src='assets/img/user.png' >
                        </div>
                        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-4">
                            <label>  Gestion patrimonio</label><br>
                            <img href="#" onclick="listarPatrimonio()" style=" padding-left: 0px; width: 70%; height: 70%;" src='assets/img/patrimonio.png' >
                        </div>
                    </div>
                </div>
            </div>
            <form name="hiddenUsers">
                <input type="hidden" name="nombreUser" value="">
                <input type="hidden" name="rolUser" value="">
            </form>
            <h4><b>Listado de usuario</b></h4>
            <div id="tablaUsuarios"></div>
        </div>
        <div class="footer">
            <h3 style="text-align: center;">Sistema de inventarios "Proyecto Emanuel"</h3>
            <h4 style="text-align: center;"><a style="text-align: center;" href="{{path ('manualUsuario')}}" >Manual de usuario</a></h4>
            <h4 style="text-align: center;"><a style="text-align: center;" href="https://www.facebook.com/CEMCHEMANUEL/" target="_blank">¡Visitanos en Facebook!</a></h4>
            <h4 style="text-align: center;"><a style="text-align: center;" href="https://www.twitter.com/" target="_blank">Visitanos en Twitter!</a></h4>
        </div>
    </div>
{% endblock %}
{% block javascripts %} 
    <script type="text/javascript" src="{{ asset('assets/js/usuario/controlPanel/funciones.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/usuario/controlPanel/selectores.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/usuario/login.js') }}"></script>
{% endblock %} 